body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    background: url("https://e1.pxfuel.com/desktop-wallpaper/542/621/desktop-wallpaper-spheres-of-the-dragon-dragon-balls.jpg") center / cover no-repeat ;
}

.card{
    background: rgb(5, 33, 13);
    text-align: center;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 30px;
    box-shadow: 10px 10px 25px rgb(226, 193, 8);
    border-radius: 25px;
    display: inline-block;
    margin: 50px;
    position: relative;
    transition: all .4s ease;

}

.card:hover{
    transform: 
        perspective(250px) rotateX(10deg) translateY(-5%);
}
.img{
    content: "";
    position: absolute;
    width: 80%;
    height: 90%;
    bottom: 90px;
    filter: drop-shadow(10px 10px 10px  yellowgreen);
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: all .4s ease;
    opacity: 0;
}
.img-2{
    width: 90%;
    height: 90%;
}

.img-3{
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.img-4{
    width: 90%;
}

.img-5{
    width: 100%;
    margin-left: 15px;
}

.img:hover{
    opacity: 1;
}

.card-2{
    background-color: rgb(13, 36, 60);
}

.card-3{
    background-color: rgb(6, 60, 20);
}

.card-4{
    background-color: rgb(57, 5, 5);
}

.card-5{
    background-color: rgb(11, 11, 34);
}

.card_title{
    color: yellowgreen;
    text-shadow: 4px 2px 15px yellowgreen;
    padding-top: 10px;
    font-size: 22px;
    margin: 0;

}

.title-2{
    color: rgb(225, 225, 14);
}

.title-4{
    text-shadow: 2px 3px 40px red;
    color: rgb(198, 25, 25);
}

.title-5{
    text-shadow: 1px 1px 20px rgb(57, 97, 144);
    color: rgb(66, 66, 167);
}

.card_subtitle{

    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
}

.card_content{
    font-size: 13px;
    padding: 20px 0;
    padding-bottom: 0;
    text-align: justify;
    margin-top: 0;
}

.card_img{
    height: 120px;
    width: 100px;
    border-radius: 50%;
}

